body {
    background-color: #B7FDFE;
}
#a {
    color: #2B9720;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#data {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
  
#data td, #data th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#data tr:nth-child(even){background-color: #f2f2f2;}
#data tr:nth-child(odd){background-color: #fff;}
  
#data tr:hover {background-color: #ddd;}

#data tr {text-align: center;}

#data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}


/* canvas {
    border: 1px solid #000000;
    background-color: #000000;
} */