body {
    background-color: #B7FDFE;
}
#a {
    color: #2B9720;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


canvas {
    border: 1px solid #000000;
    background-color: #000000;
}