#game_div {
    background-image: url("../images/Wood_Texture_Pack/Wood_Texture_1.png");
    background-size: 50px 50px;
    background-repeat: repeat;
    width: 1530px;
    height: 850px;

    display: none;
}

#lobby-body {
    background-color: black;
}

 /* The Modal (background) - not being used */
#character-select-box {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: auto;
    /* Full width */
    height: auto;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/ opacity */

    --def: #96B7C4; 	
	--inv: #fff;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    
	background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
}

#select-char-button {
    display: grid;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#character-select {
    display: grid;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.collision-box {
    border-style: solid;
    border-color: greenyellow;
}

.collision-box-hit {
    border-style: solid;
    border-color: red;
}

.game-grid {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    width: 700px;
    height: 700px;

    background-color: teal;
}

.select-character-grid{
    height: 800px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr ;
    grid-template-columns: 1fr 2fr 1fr;

    --def: #96B7C4; 	
	--inv: #fff;
	justify-content: center;
    align-items: center;
    
	background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
}

#prev{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

#next{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

#submit{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

#text{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

#rock {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#paper {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#scissors {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#bg-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    justify-self: center;

    text-align: center;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: #006060;
}

.interactable {
    border-radius: 50%;
}